複数のoptionにselected属性が付いてしまっている

グループの選択肢が

``` ruby
groups = [ [ 'all', '1' ], [ 'none', '1' ] ]
```

というときがあって、

``` erb
options_for_select(groups, groups[0])
```

としている。

options_for_select の selected の指定は value しか見ていなくて、上記の場合、２つの選択肢はともに value が '1' なので両方に selected が付いてしまう。

選択されるのは先頭の選択肢で良いので、

``` erb
options_for_select(groups)
```

として selected を付けないことで良いか？

http://www.w3.org/TR/html401/interact/forms.html#h-17.6.1
17.6.1 Pre-selected options

> If no  OPTION element has the selected attribute set, user agent behavior for choosing which option is initially selected is undefined.  Note. Since existing implementations handle this case differently, the current specification differs from RFC 1866 ([RFC1866] section 8.1.3), which states:
> 
> > The initial state has the first option selected, unless a SELECTED attribute is present on any of the &lt;OPTION&gt; elements.
> 
> Since user agent behavior differs, authors should ensure that each menu includes a default pre-selected OPTION.
